<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Basics</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app">
    <h1>
      <a v-bind:href="link">{{ title }}</a>
    </h1>
    <img :src="cat" />
    <h2>All Colors</h2>
    <ul>
      <li v-for="color in colors"
        :style="'color:' + color">
        {{ color }}
      </li>
    </ul>

    <h2>B Colors</h2>
    <ul>
      <li v-for="color in bcolors"
        :style="'color:' + color">
        {{ color }}
      </li>
    </ul>

    <h2>Be Colors</h2>
    <ul>
      <template v-for="color in bcolors">
        <li 
        :style="'color:' + color"
        v-if="color.includes('e')">
        {{ color }}
        </li>
      </template>
    </ul>
  </div>
  <script src="app.js"></script>
</body>
</html>